bleach==3.2.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
cryptography==3.2.1
docutils==0.16
idna==2.10
jeepney==0.5.0
keyring==21.5.0
packaging==20.4
pkginfo==1.6.1
pycparser==2.20
Pygments==2.7.2
pyparsing==2.4.7
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.2.0
six==1.15.0
tqdm==4.52.0
twine==3.2.0
urllib3==1.26.2
webencodings==0.5.1
